.calendar {
  flex: 1;
  max-width: 400px;
  margin: 15px 0 15px 0;
  width: 100%;
}

button#current {
  width: 150px;
}

button#next img {
  height: 24px;
  margin: -5px auto 0 auto;
}

button#previous img {
  height: 24px;
  margin: -5px auto 0 auto;
}

.week-header {
  background: black;
  border: none;
  color: white;
  direction: rtl;
}

.week-header .day {
  flex: 1;
  padding: 1px 0 6px 0;
  text-align: center;
}

/* d-flex flex-row justify-content-between mt-2 rounded week-header */
.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  direction: rtl;
  margin-bottom: 5px;
}

.week .day {
  flex: 1;
  padding: 1px 0 6px 0;
  text-align: center;
  margin: 0 5px;
}

.week .today {
  font-weight: bold;
  border: solid 1px black !important;
}

.week .holiday {
  color: red;
}

.week .selected {
  background: lightblue;
}
